<h1 class="skewed"><span>Timba Poker</span><span>v. 0.0.2</span></h1>
<!-- <h2 class="skewed"><span>(Texas Holdem)</span></h2> -->
<div><span><br/><br/><br/></span></div>
<div class="background"><span><br/><br/><br/><br/><br/><br/></span>
    <ul id="navlist">
        <li ng-repeat="card in tableCards track by $index"><a href="#"><img class="card" ng-src="{{imagePath + card + imageExt}}"></a></li>
    </ul>
    <button ng-click="next()">Carta</button>
</div>
<div>
    <ul type="none">
        <h2>Jugadores</h2>
        <a ng-click="reload()">Recargar</a>
        <button ng-click="reparte()">Repartir</button>
        <button ng-click='sendMail("foo@bar.com","Mail Subject","Mail Body Message")'>Mail</button>
        <a href="mailto:me@me.com">email me here!</a>

        <h3><u>Nombre - Céntimos</u></h3>
        <li ng-repeat="user in users">
            <h4>{{user}} - {{moneys[$index]}} <!-- - {{cards[$index]}} --> <img class="card-user" ng-repeat="card in cards[$index] track by $index" ng-src="{{imagePath + card + imageExt}}"></h4>
        </li>
    </ul>
</div>
<div>
    <!-- <span><img class="centered" ng-src="{{pokerTable}}">
        <ul id="navlist">
            <li ng-repeat="card in tableCards track by $index"><a href="#"><img class="card" ng-src="{{imagePath + card + imageExt}}"></a></li>
        </ul>
    </span> -->
</div>
<div>
    <!-- <button ng-click="next()">Next card</button> -->
</div>
<div>
    <!-- <button ng-click="reset()">New game</button> -->
</div>
<div greet></div>